body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 10px;
    text-align: center;
    margin: 0;
    background-color: rgb(4, 60, 32);
    color: rgb(234, 243, 198)
}

nav {
    background-color: rgb(4, 60, 32);
    padding: 10px;
    border-top: 2px solid;
    overflow: hidden;
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 5px rgba(3, 55, 22, 0.9)
}

nav>a {
    color: rgb(196, 220, 196);
    text-decoration: none;
    float: left;
    padding: 10px 5px;
    margin-right: 10px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    color: rgb(0, 0, 0);
    background-color: beige;
    border-radius: 4px;
}

nav a.active {
    color: rgb(0, 0, 0);
    background-color: beige;
    border-radius: 4px;
}