body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 10px;
    text-align: center;
    margin: 0;
    background-color: rgba(3, 70, 37, 0.9);
    color: rgb(234, 243, 198)
}

nav {
    background-color: rgba(3, 70, 37, 0.9);
    padding: 10px;
    border-top: 2px solid;
    overflow: hidden;
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 5px rgba(3, 55, 22, 0.9)
}

nav>a {
    color: rgb(196, 220, 196);
    text-decoration: none;
    float: left;
    padding: 10px 5px;
    margin-right: 10px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    color: rgb(0, 0, 0);
    background-color: beige;
    border-radius: 4px;
}

nav a.active {
    color: rgb(0, 0, 0);
    background-color: beige;
    border-radius: 4px;
}

.banner {
    background-image: url("https://th.bing.com/th/id/OIP.5XZtM3t4kakqXEjIqpEG-QHaHa?w=626&h=626&rs=1&pid=ImgDetMain");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner h2 {
    color: beige;
    margin: 0;
    text-align: center;
    padding: 100px;
}

main {
    margin: 30px;
    padding: 100px;
}

figure {
    margin: 0;
}

figure img {
    border: 2px solid rgb(8, 65, 25);
    border-radius: 5px;
    box-shadow: 1px 1px 7px rgba(16, 52, 4, 0.918);
}

.socialmedia {
    background-color: rgb(3, 70, 37);
    padding: 5px;
    color: beige;
}

.socialmediacontainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

.socialmediacontainer div {
    padding: 15px;
    border: 2px solid rgb(12, 24, 1);
    border-radius: 15px;
    margin: 10px;
    background-color: beige;
    color: black;
}

.main_content {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 60px;
}

.main_content section {
    box-shadow: 5px 5px 7px rgb(65, 99, 69);
    padding: 40px;
}

.main_content h5 {
    border-bottom: 2px solid rgba(3, 51, 23, 0.288);
}

footer {
    padding: 20px;
    background-color: rgb(3, 70, 37);
    color: beige;
    text-align: center;
    border-top: 1px solid rgba(245, 245, 220, 0.537);
}

footer a {
    font-size: 12px;
    color: whitesmoke;
}